/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 5px;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  
  #project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project-item {
    width: 45%;
    margin: 10px;
    background-color: #e3e3e3;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
.card{
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    padding: 0;
}  
.card img{
    height: 250px;
    width: 100%;
}
.card h3{
    font: 2.2em sans-serif;
    font-weight: 700;
}